@import url(./index.css);

h1, h2, h3 {
  margin: .5rem 0;
  color: var(--oran-2);
}

p {
  color: var(--oran-1);
}

header {
  height: 4rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.header-down {
  background-color: var(--viol-2);
}

main {
  margin: 4rem 0;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  padding: .5rem;
  width: 45%;
  height: 40rem;
  margin: 0 3%;
  background-color: var(--viol-2);
  outline-style: outset;
  outline-width: 5px;
  outline-color: var(--viol-1);
}
.wrapper + .wrapper {
  margin-left: 4%;
}

#search-bar {
  height: 20rem;
}

@media only screen and (max-width: 450px) {
  #content {
    display: block;
  }

  .wrapper {
    width: 100%;
    margin: 0;
  }
  .wrapper + .wrapper {
    margin-left: 0;
    margin-top: 2rem;
  }
}