@import url(./index.css);

header {
  height: 4rem;
  width: 100%;
  background-color: var(--viol-2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

h1, h2, h3 {
  margin: .5rem 0;
  color: var(--oran-2);
}

p {
  color: var(--oran-1);
}

main {
  margin: 4rem 0;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  padding: .5rem;
  width: 45%;
  height: 40rem;
  margin: 0 3%;
  background-color: var(--viol-2);
}
.wrapper + .wrapper {
  margin-left: 4%;
}

#search-bar {
  height: 20rem;
}